* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #ffffe3;
  --color-primary: #53c7f0;
  --color-primary-dark: #1d97c1;
  --color-primary-light: #87e0ff;
  --color-hover: #e6fbff;
  --color-hover-dark: #155f7d;
  --color-border: #ccefff;
  --color-text: #1d1d1d;
  --color-muted: #555;
}

@keyframes full-slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes full-slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

::view-transition-old(root) {
  animation-name: full-slide-to-left;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

::view-transition-new(root) {
  animation-name: full-slide-from-right;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Loader */
.loader {
  text-align: center;
}

.loader::after {
  content: "";
  width: 80px;
  aspect-ratio: 1;
  background: var(--color-hover-dark);
  clip-path: polygon(
    100% 50%,
    64.14% 64.14%,
    50% 100%,
    35.86% 64.14%,
    0% 50%,
    35.86% 35.86%,
    50% 0%,
    64.14% 35.86%
  );
  mask: radial-gradient(circle 5px, #0000 90%, #000);
  -webkit-mask: radial-gradient(circle 5px, #0000 90%, #000);
  animation: l1 1.5s infinite linear;
}

.loader.loader-absolute::after {
  position: absolute;
  inset: 0;
  margin: auto;
}

i.loader-button {
  animation: l1 1s linear infinite;
}

@keyframes l1 {
  100% {
    transform: rotate(1turn);
  }
}

.skip-link {
  padding: 4px 8px;

  inset-inline: auto;
  position: absolute;

  background-color: var(--color-text);
  color: var(--color-border);
  font-size: 1rem;
  font-weight: 700;

  transform: translateY(-150%);
}

.skip-link:focus,
.skip-link:focus-within {
  transform: translateY(0%);
}

.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 1300px;
}

header {
  position: sticky;
  inset-block-start: 0;
  background-color: var(--color-primary-light);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);

  z-index: 9999;
  view-transition-name: header;
}

.main-header {
  min-height: 90px;
  padding-block: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-muted);
}

.drawer-button {
  padding: 0.5rem;
  border: 0;
  border-radius: 4px;

  display: none;
  background-color: transparent;

  font-weight: bold;
  font-size: 1.8rem;
  color: var(--color-text);

  cursor: pointer;
}

.navigation-drawer {
  min-height: auto;
  width: auto;
  padding: 0;
  background-color: transparent;

  flex-direction: row;
  justify-content: space-between;
  position: static;

  inset-block-start: 0;
  inset-inline-start: 0;

  box-shadow: none;
  z-index: 9999;

  transition: transform 350ms;
}

.nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-list li a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-muted);
}

.nav-list li a:hover {
  color: var(--color-text);
}

select {
  display: inline-block;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 10px 20px;

  font-size: 1rem;
  line-height: 1rem;

  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.logout-button,
.subscribe-button,
.unsubscribe-button,
.btn {
  padding: 1rem 1.5rem;
  background-color: var(--color-primary-dark);
  border-radius: 10px;
  color: #fff !important;

  border: none;
  cursor: pointer;
  user-select: none;

  transition: background-color 150ms ease;
}

.logout-button:hover,
.subscribe-button:hover,
.unsubscribe-button:hover,
.btn:hover {
  background-color: var(--color-hover-dark);
}

.main-content {
  padding-block: 20px;
}

.stories-list__map-container,
.stories-list__map {
  height: 500px;
}

.stories-list__map {
  min-height: 500px;
}

.stories-list__map-container {
  width: 100%;
  margin-bottom: 5rem;
  background-color: var(--color-primary);
}

.stories-list-map-container,
.stories-list-container {
  position: relative;
}

.section-title {
  text-align: center;
  color: var(--color-text);
  font-size: 2.5rem;
}

.stories-list-container {
  min-height: 400px;
}

.stories-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-block: 20px;
  padding: 0 5rem;
}

.story-item {
  background-color: var(--color-border);
  border-radius: 12px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.story-item__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.story-item__info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.story-item__username {
  font-size: 1.7rem;
  color: var(--color-text);
}

.story-item__place {
  font-size: 1rem;
  cursor: alias;
  color: var(--color-hover-dark);
}

.story-item__place.empty {
  visibility: hidden;
}

.story-item-place__tooltip {
  text-decoration: none;
}

.story-item__date {
  color: var(--color-muted);
}

.story-item__button-container {
  margin-block: 2rem;
}

.story-item__button {
  margin-inline: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-primary-dark);

  transition: color 150ms ease;
}

.story-item__button:hover {
  color: var(--color-hover-dark);
}

.login-form-container,
.register-form-container {
  max-width: 450px;
}

.login-form-container,
.register-form-container,
.new-form__container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 1rem;
}

.login-form,
.register-form,
.new-form {
  border: 1px solid var(--color-text);
  border-radius: 10px;
  padding: 1.5rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
}

.login-form__title,
.register-form__title {
  text-align: center;
}

.form-control label {
  font-size: 1.1rem;
  user-select: none;
  font-weight: bold;
}

input {
  padding: 0.7rem 0.8rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--color-text);
}

input:focus {
  outline: 1px solid var(--color-primary-dark);
}

form .form-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.form-action span {
  font-size: 1rem;
}

.btn {
  padding: 0.8rem 1rem;
  border-radius: 5px;
}

.btn:disabled {
  background-color: var(--color-muted);
  cursor: not-allowed;
}

.login-form__do-not-have-account a,
.register-form__already-have-account a {
  text-decoration: none;
}

.story-detail__container,
.story-detail {
  position: relative;
}

.story-detail {
  padding-inline: 5rem;
}

.story-detail__image-container {
  display: flex;
  justify-content: center;

  height: 450px;
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.story-detail__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.story-detail__name {
  font-size: 1.7rem;
}

.story-detail__description-container,
.story-detail__date-container,
.story-detail__location-container {
  margin-block: 1rem;
}

.story-detail__date,
.story-detail__placename {
  font-size: 1.3rem;
  color: #777;
  font-weight: 600;
}

.story-detail__date i,
.story-detail__placename i {
  color: var(--color-text);
}

.story-detail__coordinate-inline {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  font-size: 1.2rem;
  gap: 1rem;
}

.story-detail__coordinate-inline span {
  font-weight: bold;
}

.story-coordinate-inline p span {
  color: var(--color-text);
}

.story-detail__map-container {
  margin-top: 1rem;
}

.story-detail__map {
  height: 450px;
  background-color: darkgray;
}

.new-form__container {
  max-width: 850px;
}

.new-story__title {
  text-align: center;
}

.form-control textarea {
  padding: 0.7rem 0.8rem;
  margin-top: 0.5rem;
  height: 150px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-text);
  resize: none;
}

textarea,
textarea::placeholder {
  font-family: "Raleway", sans-serif;
}

.form-control textarea:focus {
  outline: 1px solid var(--color-primary-dark);
}

.new-form__documentation__buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.new-form__documentation__input {
  display: none;
}

.new-form__camera__container {
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 8px;

  display: none;
}

.new-form__camera__container.open {
  display: block;
}

.new-form__camera__container.open {
  display: block;
}

.new-form__camera__video {
  width: 100%;
  border-radius: 4px;
  display: block;
}

.new-form__camera__canvas {
  display: none;
}

.new-form__camera__tools {
  margin-block: 8px;

  display: flex;
  flex-direction: column;
  gap: 8px 16px;
}

.new-form__documentation__output {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 300px));
  justify-content: center;
  gap: 16px;
}

.new-form__documentation-output-item__delete-btn {
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  border: none;

  cursor: pointer;
}

.new-form__documentation-output-item__delete-btn img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  transition: 150ms ease-in-out;
}

.new-form__documentation-output-item__delete-btn:hover img {
  scale: 1.05;
}

.new-form__documentation__container,
.new-form__camera__container,
.new-form__documentation__output {
  margin-block-start: 0.5rem;
}

.form-control.inline {
  display: inline-block;
}

input[type="checkbox"] {
  accent-color: var(--color-hover-dark);
}

.new-form__location__title {
  font-size: 1.1rem;
  font-weight: bold;
}

.new-form__location-map-container,
.new-form__location-map {
  height: 400px;
  position: relative;
}

.new-form__location-map-container {
  background-color: darkgray;
}

.new-form__location__lat-lng {
  margin-block: 16px 8px;

  display: flex;
  gap: 10px;
}

a.btn {
  padding: 0.7rem 1rem;
  text-decoration: none;
}

footer {
  margin-block-start: 50px;
}

.footer-content {
  padding-block: 2.5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.copyright {
  text-align: center;
  color: var(--color-text);
}

@media screen and (width < 1000px) {
  .drawer-button {
    display: inline-block;
  }

  .navigation-drawer {
    min-height: 100vh;
    width: 200px;
    padding: 1.25rem 0.6rem;
    background-color: #fff;

    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;

    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 350ms;

    z-index: 9999;
  }

  .navigation-drawer.open {
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 1rem;
  }

  .nav-list li a {
    display: block;
  }

  .story-detail {
    padding: 0 1rem;
  }

  .new-form__container {
    max-width: 550px;
  }

  .new-form__documentation__buttons {
    flex-direction: column;
  }

  .new-form__documentation__output {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .stories-list__map-container,
  .stories-list__map {
    height: 600px;
  }
}

@media screen and (width < 600px) {
  .container {
    padding-inline: 0;
  }

  .brand-name,
  .copyright {
    margin-left: 1rem;
  }

  .stories-list {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .story-item__image {
    height: 150px;
  }

  .story-item__username {
    font-size: 1.5rem;
  }

  .story-item__button-container {
    margin-block: 1rem;
  }

  .story-detail__coordinate-inline {
    display: inline-block;
    font-size: 1rem;
  }

  .new-form__documentation__output {
    grid-template-columns: repeat(1, minmax(200px, 300px));
  }
}
